<mat-toolbar>

    <!-- We are scoping to week view only -->
    <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" (click)="viewChange.emit(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
        </mat-button-toggle>
        <mat-button-toggle value="bold" (click)="viewChange.emit(CalendarView.Week)"
            [class.active]="view === CalendarView.Week">
            Week
        </mat-button-toggle>
        <mat-button-toggle value="bold" (click)="viewChange.emit(CalendarView.Day)"
            [class.active]="view === CalendarView.Day">
            Day
        </mat-button-toggle>
    </mat-button-toggle-group>

    <span class="example-spacer"></span> -->


    <h3 id="header">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>

    <span class="example-spacer"></span>

    <body style="background-color:#FDF1BA">
        <p style="color:#e3bc08; font-size:75%;"> Yellow: Breakfast </p>
    </body>

    <span class="example-spacer"></span>

    <body style="background-color:#D1E8FF">
        <p style="color:#1e90ff; font-size:75%;"> Blue: Lunch </p>
    </body>

    <span class="example-spacer"></span>

    <body style="background-color:#FAE3E3">
        <p style="color:#ad2121; font-size:75%;"> Red: Dinner </p>
    </body>

    <span class="example-spacer"></span>

    <body style="background-color:#f0f0f0">
        <p style="color:#aaaaaa; font-size:75%;"> Gray: Other </p>
    </body>

    <span class="example-spacer"></span>

    <div class="tight-button-row">
        <button mat-stroked-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)" (click)="onClick()">
            Previous
        </button>
        <button mat-stroked-button color="primary" mwlCalendarToday [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)" (click)="onClick()">
            Today
        </button>
        <button mat-stroked-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)" (click)="onClick()">
            Next
        </button>
    </div>

</mat-toolbar>

<br />
