<mwl-calendar-header-grocery [(view)]="view" [(viewDate)]="viewDate" id="header">
</mwl-calendar-header-grocery>

<mat-divider></mat-divider>
<mat-list id="list" *ngFor="let data of ingredients | keyvalue">
  <h2 mat-subheader>{{data.key}}</h2>
  <mat-list-item *ngFor="let ingredient of data.value">
    {{ingredient}}
    <hr/>
  </mat-list-item>
</mat-list>

<ng-container *ngIf="!ingredients?.size">
  <h1>No recipes added for this week</h1>
  Add some recipes to your meal plan to see your grocery list.
</ng-container>