<div class="grid-container">

  <h1 class="mat-h1">Recipes
    <div class="lds-ring" *ngIf="loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </h1>

  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Search by keyword</mat-label>
          <input matInput [(ngModel)]="keywordSearchTerm" placeholder="Ex. Crock pot">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Search by ingredient</mat-label>
          <input matInput [(ngModel)]="ingredientSearchTerm" placeholder="Ex. Cornichon">
        </mat-form-field>
      </td>
      <td>
        <button mat-icon-button color="primary" (click)="setFilters(keywordSearchTerm, ingredientSearchTerm)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="clearFilters()">
          <mat-icon>clear</mat-icon>
        </button>
      </td>
      <td>
        <mat-button-toggle-group name="filter" aria-label="Filter">
          <mat-button-toggle (change)="onAll($event.value)" value="all">All Recipes</mat-button-toggle>
          <mat-button-toggle (change)="onUser($event.value)" value="user">My Recipes</mat-button-toggle>
        </mat-button-toggle-group>
        <button mat-raised-button (click)="openAddRecipeDialog()" color="primary" id="add">Add Recipe</button>
      </td>
    </tr>
  </table>

  <mat-paginator *ngIf="backendItems?.length" #paginatorBottom [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageBottomChanged($event)" aria-label="Select page"
    showFirstLastButtons="true">
  </mat-paginator>

  <mat-grid-list *ngIf="backendItems?.length" cols="4" rowHeight="400px">
    <mat-grid-tile *ngFor="let backendItem of backendItems">
      <mat-card class="dashboard-recipe">
        <mat-card-header>

          <div mat-card-avatar class="header-image-mallow"></div>

          <mat-card-title class="recipe-card-title" style="font-size:16px" mat-raised-button
            matTooltip={{backendItem.Title}}>
            {{backendItem.Title}}
          </mat-card-title>

          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <recipe-details [recipe]=backendItem></recipe-details>
            <edit-recipe *ngIf="backendItem.Uid == this.uid" [recipe]=backendItem></edit-recipe>
            <button *ngIf="backendItem.Uid == this.uid" mat-menu-item>Delete recipe</button>
          </mat-menu>

          <mat-card-subtitle class="recipe-card-subtitle">{{backendItem.Email}}</mat-card-subtitle>

        </mat-card-header>

        <img mat-card-image class="recipe-image" src="{{'data:image/jpeg;base64,' +backendItem.Image}}"
          alt="alt text example">

        <!-- <mat-card-actions>
          <mat-form-field appearance="fill">
            <mat-label>Schedule meal</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-card-actions> -->

        <mat-card-actions>
          
          <add-mealplan-dialog [recipe]=backendItem></add-mealplan-dialog>

          <!-- Right now this toggles all recipe cards. I will eventually set the icon in TS based on favorites logged in backend -->
            <button mat-icon-button color="{{iconColor}}" (click)="toggleIcon()">
              <mat-icon>{{icon}}</mat-icon>
            </button>

        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
<mat-paginator *ngIf="backendItems?.length" #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page" showFirstLastButtons="true">
</mat-paginator>

<ng-container *ngIf="!backendItems?.length"><h1>Search returned no results</h1></ng-container>

