.cal-week-view .cal-time-events,
.cal-week-view .cal-time-label-column {
  display: none !important;
}

.cal-week-view .cal-day-headers {
  padding-left: 0;
}

.cal-week-view .cal-events-row {
  margin-left: 0 !important;
}