<p>
  <mat-toolbar color="">

    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon id="menu">menu</mat-icon>
      </button>
    </div>

    <span *ngIf="!authService.isAuthenticated" id="welcome">{{titleLoggedOut}}</span>
    <span *ngIf="authService.isAuthenticated" id="welcome">{{titleLoggedIn}}</span>

    <span class="example-spacer"></span>

    <div *ngIf="!isUserLoggedIn">
      <nav>
        <div class="toolbar-button-row">
          <a mat-raised-button color="primary" [routerLink]="'/login'" id="loginButton" *ngIf="!authService.isAuthenticated">Login</a>
          <a mat-raised-button color="primary" [routerLink]="'/register'" id="registerButton" *ngIf="!authService.isAuthenticated">Register</a>
        </div>
      </nav>
    </div>

    <a mat-raised-button color="primary" *ngIf="authService.isAuthenticated" id="logoutButton" href="/" (click)="authService.logout()">Logout</a>

  </mat-toolbar>
</p>

<welcome *ngIf="!authService.isAuthenticated"></welcome>

