<h1 mat-dialog-title id="view-dialog">{{recipe.Title}}</h1>

<mat-dialog-content class="mat-typography">

    <h3>Created by {{recipe.Email}}</h3>

    <img mat-card-image src="{{'data:image/jpeg;base64,' +recipe.Image}}">

    <br><br>

    <h2>Ingredients</h2>
    <p style="white-space: pre-line" id="dialog-ing">
        {{recipe.Ingredients}}
    </p>

    <br>

    <h2>Instructions</h2>
    <p style="white-space: pre-line" id="dialog-inst">
        {{recipe.Instructions}}
    </p>

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
