<h1 mat-dialog-title>Miso-Butter Roast Chicken With Acorn Squash Panzanella</h1>

<mat-dialog-content class="mat-typography">

    <h3>Created by XXX</h3>

    <h2>Ingredients</h2>
    <p>
        1 (3½–4-lb.) whole chicken<br>
        2¾ tsp. kosher salt, divided, plus more<br>
        2 small acorn squash (about 3 lb. total)<br>
        2 Tbsp. finely chopped sage<br>
        1 Tbsp. finely chopped rosemary<br>
        6 Tbsp. unsalted butter, melted, plus 3 Tbsp. room temperature<br>
        ¼ tsp. ground allspice<br>
        Pinch of crushed red pepper flakes<br>
        Freshly ground black pepper<br>
        ⅓ loaf good-quality sturdy white bread, torn into 1" pieces (about 2½ cups)<br>
        2 medium apples (such as Gala or Pink Lady; about 14 oz. total), cored, cut into 1" pieces<br>
        2 Tbsp. extra-virgin olive oil<br>
        ½ small red onion, thinly sliced<br>
        3 Tbsp. apple cider vinegar<br>
        1 Tbsp. white miso<br>
        ¼ cup all-purpose flour<br>
        2 Tbsp. unsalted butter, room temperature<br>
        ¼ cup dry white wine<br>
        2 cups unsalted chicken broth<br>
        2 tsp. white miso<br>
        Kosher salt, freshly ground pepper<br>
    </p>

    <br>

    <h2>Instructions</h2>
    <p>
        Pat chicken dry with paper towels, season all over with 2 tsp. salt, and tie legs together with kitchen twine.
        Let sit at room temperature 1 hour.<br><br>

        Meanwhile, halve squash and scoop out seeds. Run a vegetable peeler along ridges of squash halves to remove
        skin. Cut each half into ½"-thick wedges; arrange on a rimmed baking sheet.<br><br>

        Combine sage, rosemary, and 6 Tbsp. melted butter in a large bowl; pour half of mixture over squash on baking
        sheet. Sprinkle squash with allspice, red pepper flakes, and ½ tsp. salt and season with black pepper; toss to
        coat.<br><br>

        Add bread, apples, oil, and ¼ tsp. salt to remaining herb butter in bowl; season with black pepper and toss to
        combine. Set aside.<br><br>

        Place onion and vinegar in a small bowl; season with salt and toss to coat. Let sit, tossing occasionally, until
        ready to serve.<br><br>

        Place a rack in middle and lower third of oven; preheat to 425°F. Mix miso and 3 Tbsp. room-temperature butter
        in a small bowl until smooth. Pat chicken dry with paper towels, then rub or brush all over with miso butter.
        Place chicken in a large cast-iron skillet and roast on middle rack until an instant-read thermometer inserted
        into the thickest part of breast registers 155°F, 50–60 minutes. (Temperature will climb to 165°F while chicken
        rests.) Let chicken rest in skillet at least 5 minutes, then transfer to a plate; reserve skillet.<br><br>

        Meanwhile, roast squash on lower rack until mostly tender, about 25 minutes. Remove from oven and scatter
        reserved bread mixture over, spreading into as even a layer as you can manage. Return to oven and roast until
        bread is golden brown and crisp and apples are tender, about 15 minutes. Remove from oven, drain pickled onions,
        and toss to combine. Transfer to a serving dish.<br><br>

        Using your fingers, mash flour and butter in a small bowl to combine.<br><br>

        Set reserved skillet with chicken drippings over medium heat. You should have about ¼ cup, but a little over or
        under is all good. (If you have significantly more, drain off and set excess aside.) Add wine and cook, stirring
        often and scraping up any browned bits with a wooden spoon, until bits are loosened and wine is reduced by about
        half (you should be able to smell the wine), about 2 minutes. Add butter mixture; cook, stirring often, until a
        smooth paste forms, about 2 minutes. Add broth and any reserved drippings and cook, stirring constantly, until
        combined and thickened, 6–8 minutes. Remove from heat and stir in miso. Taste and season with salt and black
        pepper.<br><br>

        Serve chicken with gravy and squash panzanella alongside.<br><br>
    </p>

    <img class="recipe-details-image" src="../../assets/images/imgpancakes.jpeg"
        alt="alt text example">

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>