<button type="button" color=primary mat-button (click)="drawer.toggle()" data-cy="menuText">
  Show or hide menu
</button>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/home" data-cy="recipes">Recipes</a>
      <a mat-list-item href="/mealplan" data-cy="mealplan">Meal Plan</a>
      <a mat-list-item href="/grocerylist" data-cy="grocerylist">Grocery List</a>
      <a mat-list-item href="/" (click)="authService.logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div *ngIf="router.url === '/home'">
      <app-recipes></app-recipes>
    </div>
    <div *ngIf="router.url === '/mealplan'">
      <app-meal-plan></app-meal-plan>
    </div>
    <div *ngIf="router.url === '/grocerylist'">
      <app-grocery-list></app-grocery-list>
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>
