.example-container{
    text-align: center
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}

.example-spacer {
    flex: 1 1 auto;
  }


  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  

  mat-form-field {
    margin-right: 12px;
  }


  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/images/imgprofilepic.png');
    background-size: cover;
  }

  .header-image-mallow {
    background-image: url('/assets/images/imgmarshmallows.png');
    background-size: cover;
  }
