

<div>
  <div>
    <welcome></welcome>
  </div>
  <nav>
    <div class="example-button-row">      
      <button mat-raise-button [routerLink]="'/login'">Login</button>
      <button mat-raise-button [routerLink]="'/register'">Register</button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

    <mat-divider></mat-divider>


    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
