<p>
  <mat-toolbar color="">
    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
  </div>
  <span id="welcome">{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>


<mat-divider></mat-divider>
<mat-list>
  <mat-list-item>Discover Recipes</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Set up your meal plan for the week</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Generate your grocery list</mat-list-item>
</mat-list>
