
  <h1 mat-dialog-title class="center">Add a Recipe</h1>
  <form [formGroup]="recipeForm" (submit)="addRecipe()">
    <mat-form-field class="form-field" appearance = "outline" [style.width.px]="650">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field><br />

    <!--Ingredients must follow format ['Ing. 1', 'Ing. 2', ... , 'etc']
        when adding to database (For display purposes)-->
    <mat-form-field class="form-field" appearance ="outline" [style.width.px]="650">
      <mat-label>Ingredients</mat-label>
      <textarea matInput formControlName="ingredients" required></textarea>
    </mat-form-field><br />

    <mat-form-field class="form-field" appearance ="outline" [style.width.px]="650">
      <mat-label>Instructions</mat-label>
      <textarea matInput formControlName="instructions" required></textarea>
    </mat-form-field><br />


  <mat-dialog-actions>
  <div class ="bottom">
   <button mat-raised-button [mat-dialog-close] type="submit" color="primary">Save</button>
   <button mat-flat-button [mat-dialog-close]="" (click)="onNoClick()">Cancel</button>
  </div>
  </mat-dialog-actions>

</form>
