
  <h1 mat-dialog-title class="center">Add a Recipe</h1>
  <form [formGroup]="recipeForm" (submit)="addRecipe()" id="form">
    <mat-form-field class="form-field" appearance = "outline" [style.width.px]="650">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field><br />

    <!--Ingredients must follow format ['Ing. 1', 'Ing. 2', ... , 'etc']
        when adding to database (For display purposes)-->
    <mat-form-field class="form-field" appearance ="outline" [style.width.px]="650">
      <mat-label>Ingredients</mat-label>
      <textarea matInput formControlName="ingredients" required id="ingredients"></textarea>
    </mat-form-field><br />

    <mat-form-field class="form-field" appearance ="outline" [style.width.px]="650">
      <mat-label>Instructions</mat-label>
      <textarea matInput formControlName="instructions" required id="instructions"></textarea>
    </mat-form-field><br />

    <mat-form-field class="form-field" appearance ="outline" [style.width.px]="650">
      <mat-label>Image Upload</mat-label>
      <input  readonly matInput  formControlName="image" (click)="f_input.click()" />
			<input
        type="file"
        multiple
        hidden
        #f_input
        (change)="handleFileInputChange(f_input.files!)"
      />
      <div class="error" *ngIf="error">
        Only one file at time allowed!
      </div>

    </mat-form-field>


  <mat-dialog-actions>
  <div class ="bottom">
   <button mat-raised-button [disabled]="error != ''"  [mat-dialog-close] type="submit" color="primary" id="save">Save</button>
   <button mat-flat-button [mat-dialog-close]="" (click)="onNoClick()" id="cancel">Cancel</button>
  </div>
  </mat-dialog-actions>

</form>
