<h2>Add a Recipe</h2>
<mat-dialog-content>
<div>
  <mat-form-field appearance="outline">
    <mat-label> Title</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label>Ingredients</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="outline">
    <mat-label>Instructions</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary">Save</button>
  <button mat-flat-button>Cancel</button>
</mat-dialog-actions>
